@CHARSET "UTF-8";
/* Hrm, no build stamp */
@IMPORT url("/css3/photo-chooser.css");

.gnome-account-contents-disabled * { 
	color:				gray;
}



/*
 * From /css3/account-positions.css
 */
 
#dhAccounts {
    margin:         0px;
	table-layout:   auto;
}

.dh-form-table .dh-account-editing-content-only-box .dh-control-cell-div {
	padding-left:	5px;
}

#dhAccounts .dh-label-cell {
	text-align:     left;
	width:          120px; /* if you change this, you also have to change the -with-prefix one below */
}

#dhAccounts .dh-label-cell .dh-label-cell-div-with-prefix {
    position:       relative;
    margin-left:    -40px;
    width:          160px; /* if you change this, you also have to change the one above */
}

#dhAccounts .dh-control-cell-next-to-info {
    width:          320px;
}

#dhAccounts .dh-label-cell .dh-form-table-row-icon {
    margin-right:    5px;
    vertical-align:  middle;
}

.dh-account-preferences-row label {
    position: relative;
    bottom:   -1px;
}

.dh-account-preferences-row input {
    position: relative;
    bottom:   2px;
}

#dhAccounts .dh-spacer-row {
	height:			5px;
}

#dhAccounts .dh-padding-row {
    height:         0px;
}

div.dh-notification {
	padding:		4px;
	width:          auto;
}

.dh-picture-instructions {
    position:   relative;
    float:      left;
    margin-top: 4px;
    height:     20px;
}

.dh-picture-more-instructions {
    position:     relative;
    float:        left;
    margin-top:   4px;
    clear:        left;
}

#dhPictureForm {
    position:  relative;
    float:     left;
}

#dhPictureEntry, .dh-file-upload-think {
	margin-top:     2px;
}

.dh-file-upload, .dh-file-upload-think {
	position:       relative;
	left:           3px;	
}

/* setting width to 0 works for IE, but not for Firefox,
   best we can do in Firefox for shrinking the input field
   is setting size=1; then we need to move the hidden browse 
   input box over to the left to have the actual browse 
   button show up right next to dh-picture-instructions */ 
.dh-hidden-file-upload {
	position:       relative;
    left:           -28px;
	-moz-opacity:   0;
	filter:alpha(opacity: 0);
	opacity:        0;
	z-index:        2;	
}

.dh-styled-file-upload, .dh-styled-file-upload-think {
	position:       absolute;
	top:            2px;
	left:           3px;
	z-index:        1;
}

/* Position this so the stock photo popup is relative to it */
#dhChooseStockLinkContainer {
	position:		relative;
}

#dhPhotoChooser {
	bottom:         -12px;	
}

.dh-form-table .dh-control-cell .dh-password-input {
	width:			260px;
}

.dh-form-table .dh-control-cell .dh-name-input {
	width:			260px;
}

.dh-aim-address {
	padding-bottom:	5px;
}

.dh-aim-address a {
	margin-left:	10px;	
}

tr.dh-email-address-spacer {
	height:			5px;
}

#dhEmailEntry {
	margin-right:	10px;
}

.dh-love-hate-icon, .dh-add-icon {
    position:  relative;
    bottom:    1px;
}

.dh-add-icon {
    margin-right: 3px;
}

.dh-explanation {
    margin-bottom: 5px;
}

#dhSetPasswordButton {
    margin-top:    5px;
    margin-right:  5px;
}

#dhRemovePasswordLink {
    position:      relative;
    bottom:        -4px;
}

.dh-love-hate-instruction-editing {
	padding-top:	5px;
	padding-bottom:	5px;
}

.dh-label-cell .dh-account-editing {
	padding-top:	5px;
	padding-bottom:	5px;
}

.dh-control-cell .dh-account-editing {
	padding-top:	5px;
	padding-bottom:	5px;
}

.dh-section-header {
    margin-top:         0px;
    margin-bottom:      0px;
}

.dh-active-link, .dh-placebo-link, .dh-saved-link {
    margin-left:        3px;
    margin-right:       5px;
}

.dh-amazon-details div {
    margin-left:        16px; 
    margin-bottom:      1px; 
}

/* 
 * from /css3/styled-form.css
 */

.dh-form-table {
    width:          100%;
	margin-top:		5px;
	margin-bottom:	5px;
	table-layout:   fixed;
}

.dh-no-extra-space-table {
	margin-top:		-3px;
	margin-bottom:	0px;
}

.dh-form-table .dh-label-cell {
	padding-right:	10px;
	text-align:     right;
	width:			170px;
}

.dh-form-table .dh-spacer-row {
	height:			3px;
}

.dh-no-extra-space-table .dh-spacer-row {
	height:			0px;
}

.dh-form-table .dh-box-spacer {
	width:			10px;
}

.dh-form-table .dh-padding-row {
	height:			5px;
}

.dh-no-extra-space-table .dh-padding-row {
	height:			0px;
}

.dh-form-table .dh-control-cell .dh-control-cell-div img {
	vertical-align:		middle;
}

.dh-no-extra-space-table .dh-control-cell {
    width:              100px;
}

.dh-form-table .dh-image {
	float: 			left;
}

.dh-form-table .dh-next-to-image {
    margin-left:    10px;
	float:			left;
	vertical-align: top;
}

.dh-form-table .dh-control-cell .dh-control-cell-div input {
	vertical-align:	    middle;
}

.dh-form-table .dh-control-cell .dh-control-cell-div input.dh-radio-input {
    vertical-align:	    baseline;
    margin-left:        0px;
}

.dh-form-table .dh-control-cell textarea.dh-text-input {
	width:			260px;
	overflow:       auto;
}

.dh-form-table .dh-control-cell input.dh-text-input {
	width:			260px;
	overflow:       hidden;
}

.dh-form-table .dh-info-cell {
	padding-left:	5px;
	text-align:     left;
}

.dh-no-extra-space-table .dh-info-cell {
	vertical-align:	middle;
}
