
body {
	font-family: "Bitstream Vera Sans", "Liberation Sans", sans-serif;
	margin: 20px;
	font-size: 12pt;
	color: #222;
}

a {
	color: #0066dd;
}

input[type="text"], input[type="password"] {
	padding: 0.1em;
	border: 1px inset #777;
	background-color: #f5f5f5;s
	color: #222;
	font-family: inherit;
	font-size: 12pt;
}

input[type="submit"], button {
	font-size: 12pt;
	padding: 0 1em 0.1em 1em;
	font-family: inherit;
  vertical-align: middle;
}

input[type="submit"]:hover {
	background-color: #444;
}

img {
  border: 0;
}

#page {
	min-height: 600px;
  // Set this to test layout
  // max-width: 1000px;
}

#content {
  width: 100%;
  float: left;
}

#header {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	border-bottom: 4px solid #222 ;
}

a.header {
	font-size: 24pt; /* mimic the h1 */
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #222;
}

.explanatory {
	font-size: 14pt;
	color: #666;
	background-color: inherit;
}

input.blue-button {
	background-color: #0066dd;
	border: 2px outset #0033aa;
	color: #fff;
}

input.green-button {
	background-color: #5cc400;
	border: 2px outset #57e925;
	color: #fff;
}

input.blue-button:hover {
	background-color: #0099ff;
}

input.green-button:hover {
	background-color: #7ee600;
}

#debuglog {
  font-size: 10px;
  font-weight: normal;	
}

#search-actions {
  padding-top: 4px;
  font-size: 12px;
}

/* ==== HISTORY ==== */

#historycolumn {
  float: left;
  margin-right: 350px;
  width: 600px;
}

#history {
}

#q {
  width: 20em;
}

.search-provider {
  font-size: 10pt;			
}
.date {

}
.set {
	display: table;
  font-size: 10pt;
	border-bottom: 1px solid #222 ;
  padding-bottom: 20px;
}
.item {
	display: table-row;
	vertical-align: top;
}
.item:hover {
  background-color: #f9f9f9;
}
.favicon {
  text-align: right;
}
.favicon-img {
  max-width: 20px;
  max-height: 20px;
}
.time, .favicon, .urls {
	display: table-cell;
	padding: 0.2em;
	vertical-align: top;
}
.time, .favicon {
  white-space: pre;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 1%; /* hacks, hacks, hacks! keep the column from expanding */
}
.time {
  background-color: inherit;
  color: #999;
  text-align: center;
  border-right: 1px solid #ccc;
}
.title {
  text-decoration: underline;
}
.url {
  color: green;
  text-decoration: none;
  text-align:right;
}
.target-item, .target-item:hover {
	border: 1px solid #FFF;
	background-color: #FFFF99;	
}
.nav {
  text-align: center;
  margin: 1em;
}
.no-results {
  font-family: italic;	
}
.input-text {
  font-family: monospace;	
}
.keybinding-hint {
  color: green;
  font-size: small;	
}
.visitcount {
  font-size: smaller;
  font-family: italic;
}

/* ==== Sidebars ==== */
#sidebars {
  float: left;
  width: 350px;
  margin-left: -350px;
}
.sidebar {
  font-size: 10pt;
  min-width: 200px;
  padding: 0;
  margin: 1em;
}
.sidebar-header {
  border-bottom: 1px dotted #222;
}
/* ==== Secondary Searches === */
#secondary-search { 
  list-style: none;
}
li.search-engine {
  font-size: 6pt;
  color: #777;
  margin: 3pt 0pt;
}
img.search-engine {
  border: none;
  margin-right: 0.5em;
}
a.search-engine {
  font-size: 10pt;
  text-decoration: none;
}
/* ==== Google Search ==== */

#google-q {
  min-height: 600px;
  height; 100%:
  padding: 0;
  margin: 0; 
  overflow: hidden;
  border: none;
}
