 @CHARSET "UTF-8";
 
div.autocomplete-choices {
      position:absolute;
      width:250px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
}
div.autocomplete-choices ul {
      list-style: none;
      padding-left: 0px;
}
div.autocomplete-choices li.selected { background-color: #ffb; }
