@CHARSET "UTF-8";

.dh-post-list-td {
	width:					422px;
}
div.cool-bubble-shadow {
	margin:					10px;
	background-color:		#303030;
	width:					402px;
	-moz-border-radius:		7px;
	position:				relative;
}
table.cool-bubble {
	border-spacing:			0px;
	border:					1px solid #404040;
	width:					400px;
	-moz-border-radius:		7px;
	background-color:		white;
	position:				relative;
	right:					1px;
	bottom:					1px;
}
table.cool-bubble * {
	margin:					0px;
	padding:				0px;
	border:					0px;
	font-size:				9pt;
	vertical-align:				top;
}
table.cool-bubble tbody {
	width:					100%;
	height:					100%;
}
td.cool-person {
	text-align:				center;
	width:					60px;
	overflow:				hidden;
	vertical-align:				middle;
}
a.cool-person, a.cool-group {
	display:				block;
	width:					60px;
	text-align:				center;
	float:					left;
}
div.cool-person, div.cool-group {
	width:					60px;
	overflow:				hidden;
	font-size:				x-small;
	cursor:					pointer;
}
img.cool-person, img.cool-group, span.cool-person, span.cool-group {
	margin:					auto;
	/* Right now the Java code scales headshots to a max of 48px in each
	 * dimension, but preserving aspect ratio. If height < width the below
	 * will mangle the aspect again. If changing from 48px, also change the 
	 * Java code. We need to fix the Java code to always produce exactly 
	 * 48x48 images though (i.e. pad images with transparency) since 
	 * css can't be smart about "max size of largest dimension".
	 * height is fixed here because for a headshot height>width seems more 
	 * likely than width>height.
	 */
	max-width:			    48px;
	height:					48px;
	border:					0;
}
td.cool-link {
	padding-top:				3px;
	padding-bottom:				3px;
	font-size:				100%;
	font-weight:				bold;
	width:					340px;
}
div.cool-link {
	width:					340px;
	overflow:				hidden;
	padding:				0;
	margin:					0;
	font-weight:				bold;
}
a.cool-link {
	font-weight:				bold;
	color:					blue;
	background-color:			inherit;
	text-decoration:			none;
}
a.cool-link:hover {

}
a.link-viewed {
	width:					340px;
	color:					grey;
}
td.cool-link-desc {
	padding-top:				7px;
	padding-bottom:				7px;
}
td.cool-link-meta {
	text-align:				right;
	font-size:				8pt;
	vertical-align:				bottom;
}
div.cool-link-date {

}
div.cool-link-to {

}
.cool-link .dh-favicon {
	display:		inline;
	margin-left:	2em;
}
