@CHARSET "UTF-8";

@import "sitewide-iefixes.css";

/* IE-specific centering hack for the person name; could be
 * done CSS compliant using display: table and display: table-cell
 */
.dh-chat-person-name
{
	position:         absolute;
	top:              8px;
	left:             63px;
    background-color: transparent;
    color:            white;
    
}

.dh-chat-person-name-inner
{
	position:         relative;
	background-color: transparent;
	font-weight:      bold;
	width:            97%; 
    white-space:      nowrap; 
    overflow:         hidden;   
    text-overflow:    ellipsis;   
}

.dh-chat-person-arrangement-name
{
	position:         absolute;
	top:              25px;
	left:             80px;
    background-color: transparent;
    color:            #174675;
    
}

.dh-chat-person-arrangement-name-inner
{
	position:         relative;
	background-color: transparent;
	font-size:        x-small;
	width:            95%; 
    white-space:      nowrap; 
    overflow:         hidden;   
    text-overflow:    ellipsis;   
}

.dh-chat-person-artist 
{
	position:         absolute;
	top:              38px;
	left:             80px;
    background-color: transparent;
    color:            #174675;
    
}

.dh-chat-person-artist-inner
{
	position:         relative;
	background-color: transparent;
	font-size:        x-small;
	width:            95%; 
	white-space:      nowrap; 
    overflow:         hidden;   
    text-overflow:    ellipsis;   
}

.dh-chat-person-music-stopped
{
    color: #eedd88;
}