@CHARSET "UTF-8";

@import "sitewide.css";
@import "bubbles.css";

body {
	background-color: 	white;
	font-family: 		sans-serif;
	margin:				0px;
	overflow: 			hidden; /* no scrollbar */
	font-size:          13px;
}
#dhMain {
	position: 	relative;
	height: 	125px;
}
/* white border, without using border attribute
   which messes us up for firefox vs. ie. Note 
   that it's important that the width here is 
   even, or it will trigger an ie bug. */
#dhPostBubbleContainer {
	position: absolute;
	background-color: white;
	height:	98px;
	top:	12px;
	left: 	3px;
	width:	330px;
}
/* blue background */
#dhPostBubbleBackground {
	position: absolute;
	background-color: #3399FF;
	height:	92px;
	top:	3px;
	left: 	3px;
	width:	324px;
}
#dhPostBubble {
	position: 		absolute;
	background-color: transparent;
	height:			92px;
	top:			3px;
	left: 			3px;
	width:			321px;
	margin-right:	3px;
	color:			white;
	overflow:		hidden;
}

#dhPostBubbleSE {
	position: 	absolute;
	bottom:		0px;
	right:		0px;
	background-image: url(/images/framerBubbleSE2266AB.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	width:		30px;
	height:		24px;
	overflow:   hidden;
}
#dhPostBubbleNE {
	position: 	absolute;
	top:		0px;
	right:		0px;
	background-image: url(/images/framerBubbleNEFFFFFF.gif);
	width:		23px;
	height:		21px;
	overflow:   hidden;
}
#dhPostBubbleNW {
	position: 	absolute;
	top:		0px;
	left:		0px;
	background-image: url(/images/framerBubbleNWFFFFFF.gif);
	width:		21px;
	height:		20px;
	overflow:   hidden;
}
#dhPostBubbleSW {
	position: 	absolute;
	bottom:		0px;
	left:		0px;
	background-image: url(/images/framerBubbleSWmixed.gif);
	width:		21px;
	height:		21px;
	overflow:   hidden;
}
		
#dhBottomShadow {
	position:	absolute;
	width:		100%;
	height:		12px;
	left: 		0px;
	bottom:		0px;
	background-image: url(/images/framerShadow.png);
	background-color: transparent;
	background-repeat: repeat-x;
	background-position: bottom;
	
	/* In IE we use activex to draw the png */
}
#dhTopShadow {
	position:	absolute;
	width:		100%;
	height:		12px;
	left: 		0px;
	top:		0px;
	background-image: url(/images/framerShadowTop.png);
	background-color: transparent;
	background-repeat: repeat-x;
	
	/* In IE we use activex to draw the png */
}
#dhPostChatAreaContainer {
	position:			absolute;
	background-color:	transparent;
	bottom:				0px;
	height:				78px;
	width:				100%;
}
#dhPostChatArea {
	position:			relative;
	background-color: 	#2266AB;
	height: 			78px;
	margin-left:		6px;
	margin-right: 		6px;
}
#dhChatAreaNE {
	position: 	absolute;
	top:		0px;
	right: 		0px;
	background-image: url(/images/framerBackgroundNEFFFFFF.gif);
	width:		16px;
	height:		18px;
	overflow:   hidden;
}
/* If the width of the page is odd, then right aligned elements
 * like dhChatAreaNE are positioned one pixel too far to the
 * left. We use a 1px white div aligned in the same way to trim off 
 * a pixel from the the block to match, leaving only a very hard
 * to detect problem. (A margin of 7px instead of 6px.) If the browser
 * is non-buggy, then this div ends up in the white margin and
 * has no effect.
 */
#dhChatAreaBorderWhiteout {
	position: 	absolute;
	width:		1px;
	height:		100%;
	right:		-1px;
	top:		0px;
	background-color: white;
}
#dhPostChatLabel {
	position: 		absolute;
	bottom: 		100%;
	left: 			331px;
	margin-bottom: 	2px;
	font-weight:	bold;
	color: 		 #014AC4;
}
#dhPostChatCount {
	font-size:		smaller;
}
#dhPostChatLogContainer {
	position:	absolute;
	top:		0px;
	left:		339px;
	right:		170px;
}
#dhPostChatLog {
	position: 	relative;
	color:		white;
	height:		78px;
	overflow:	hidden; /* don't go over underneath the actions section */
}
#dhPostChatNames {
	position: 		absolute;
	width:			55px;
	left:			0px;
	top:			3px;
	height:			70px;
	font-size:		smaller;
	overflow: 		hidden; /* don't bleed out of blue background */
}
#dhPostChatDivider {
	position: 	absolute;
	top:		0px;
	left:		61px;
	width:		1px;
	height:		78px;
	background-color: #4E85BC;
}

#dhPostChatMessages {
	position:		absolute;
	left:			62px;
	top:			3px;
	height: 		70px;
	margin-left:	6px;
	font-size:		smaller;
	overflow: 		hidden; /* don't bleed out of blue background */
}

.dh-chat-name {
	position:		relative;
	right:			0px;
	text-align:		right;
	font-weight:	bold;
	white-space:	nowrap;
	text-overflow:	ellipsis;
}
.dh-chat-message {
	position:		relative;
	left:			0px;
	right:			10px;
	text-align: 	left;
	white-space:	nowrap;
	text-overflow:	ellipsis; /* doesn't work, please fix if you dare */
}

.dh-chat-message a {
	color: #fff500;
}

#dhPostViewingList {
	position:	absolute;
	top:		6px;
	right:		6px;
	text-align: right;
	background-color: transparent;
	
}
#dhPostViewingListLabel {
	text-align:  right;
	font-weight: bold;
	color: 		 #014AC4;
	font-size:	 9pt;
}
#dhPostViewingListPeople {
	text-align: right;
	color:		black;
	font-size:	9pt;
}

#dhPostActionsContainer {
	position:			absolute;
	right:				20px;
	top:				0px;
	background-color:	white;
}
		
#dhPostActions {
	position:			relative;
}

#dhPostActionsSW {
	position: 	absolute;
	bottom:		0px;
	left:		0px;
	background-image: url(/images/framerActionsSW2266AB.gif);
	width:		14px;
	height:		15px;
	overflow:   hidden;
}
#dhPostActionsSE {
	position: 	absolute;
	bottom:		0px;
	right:		0px;
	background-image: url(/images/framerActionsSE2266AB.gif);
	width:		15px;
	height:		15px;
	overflow:   hidden;
}
/* See comment for dhChatAreaBorderWhiteout */
#dhPostActionsBorderBlueout {
	position: 	absolute;
	width:		1px;
	height:		78px;
	top:		0px;
	right:		-1px;
	background-color: #2266AB;
}

.dh-post-action {
	position:		relative;
	margin-top:		3px;
	margin-bottom:	3px;
	margin-left:	10px;
	margin-right:	10px;
	
	font-size:		smaller;
	white-space:    nowrap;
}
.dh-post-action-arrow {
	border:	0px;
	margin-right: 4px;
}

.dh-share-from {
	font-size:		small;
	padding-top:	18px;
}
.dh-share-text {
	position:	absolute;
	left:		72px;
	width:      245px;
	overflow:	hidden;
}
.dh-share-link {
	font-size:	 small;
	white-space: nowrap;
	overflow:      hidden;
	width:         100%;
	text-overflow: ellipsis;
}
.dh-share-description {
	font-size:		x-small;
	margin-top:		5px;
	height:			33px;
	overflow:		hidden;
	text-overflow: 	ellipsis;
}
.dh-share-to {
	font-size:	x-small;
	overflow:	hidden;
}
