@CHARSET "UTF-8";

@import "sitewide.css";
@import "bubbles.css";

body {
	max-height:		100px;
	overflow:		hidden;
	padding:		0;
	margin:			0;
	margin-top:		auto;
	margin-bottom:		auto;
	width:			100%;
}
#dhMain, table.dhFramer {
	width:			100%;
}
div, table, tbody, td, tr {
	margin:			0;
	padding:		0;
	border:			0;
	vertical-align:		top;
}
div.cool-link-desc {
	max-height:		40px;
	font-size:		x-small;
	overflow:		hidden;
}
a.join-chat {
	float:			left;
	width:			9em;
	text-align:		center;
	border:			2px outset #2e5efd;
	-moz-border-radius:	5px;
	color:			white;
	background-color:	#7e9bf8;
	display:		block;
	color:			white;
	text-decoration:	none;
}
.action-area {
	float:			right;
}
.action  {
	font-size:		xx-small;
	color:			white;
	text-decoration:	none;
	padding:		0.3px;
}
a.action:link  {
	color:			white;
}

.action-box {
	border:			1px solid white;
	color:			white;
	font-size:		xx-small;
	display:		block;
	width:			1em;
	text-align:		center;
}
.highlight-action {
	border-color:		white;	
	color:			white;
	font-weight:		bold;
}
a.highlight-action:link {
	color:			white;
}
td.cool-link-meta {

}
.chat-preview  {
	font-size:		xx-small;
	color:			white;
	text-decoration:	none;
	padding:		0.3px;
}