@CHARSET "UTF-8";

@import "sitewide.css";
@import "home.css";


.dh-invite-mail-body, .dh-invite-mail-header {
	padding:					1em;
	border:						1px solid #404040;
}
.dh-invite-mail-body a {
	color:						blue;
	background-color:			inherit;
}
.dh-invite-mail-header {
	border-bottom:				0;
}

.dh-invite-mail-body {

}

.dhText {
	width:						22em;
}

.dhTextArea {
	width:						22em;
}	

input.dh-send-invite {

}
