@CHARSET "UTF-8";

@import "person.css";

#dhMainArea .dh-track {
	position: relative;
	margin-bottom: 7px;
	/* this doesn't seem like the right way to do it... */
	left: 45px;
}

.dh-track-name {
	font-weight:		bold;
}
