@CHARSET "UTF-8";

/* This file contains styles specific to the "share a link" page 
 */

@import "sitewide.css";

#dhShareLinkForm {
	margin: 						1em;	
}

.dhRecipientListArea {
	-moz-border-radius:				5px;
	background-color:				#ddd;
	padding:						0.5em;
	/* designed to avoid resize on adding first recipient */
	min-height:						7em;
}

/* list of people who will receive the link */
#dhRecipientList {
	margin:							1em;
	/* border: 1px solid black; */  /* debug */
}

/* Don't set this style by id or it will bind too tightly and the 
 * .dhCouldBeInGroup style below can't override it.
 */
.dhPerson {
	/* I can't get display:inline to work without breaking something else... */
	/* display:					inline; */
	background-color:			#fff;
	border:						1px solid black;
	text-align:					center;
	margin:						0.5em;
	width:						150px;
	-moz-border-radius:			5px;
}

/* The highlight when a recipient would be put in a group */
.dhCouldBeInGroup {
	background-color:			#0f0;
}

#dhCreateGroupLink {
	float:						right;
}

td.dhHeadShot {
	text-align:					center;
}
td.dhRemovePerson {
	text-align:					right;
}
a.dhRemovePerson {
	color:						red;
	font-weight:				bold;
	text-decoration:			none;
}
a.dhRemovePerson:link {
	color:						red;
	font-weight:				bold;
	text-decoration:			none;
}
td.dhPersonName {
	font-size:					9pt;
}
