@CHARSET "UTF-8";

/* ------------ STYLES SPECIFIC TO /SHARELINK ------------ */

@import "sitewide.css";

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: White;
}

img {
  border: none;
}

table, tr, td {
  padding: 0;
  margin: 0;
}

#dhShareOuterDiv {
  width: 100%;
  height: 100%;
}

#dhShareOuter {
  width: 100%;
  height: 100%;
}

#dhShareTop {
  padding: 0px 4px;
  background: url("/images/shareLinkXBorder.png") top left repeat-x;
}

#dhShareLeftBorder {
  height: 100%;
  background-image: url("/images/shareLinkYBorder.png");
  background-position: left;
  background-repeat: repeat-y;
}

#dhShareRightBorder {
  height: 100%;
  background-image: url("/images/shareLinkYBorder.png");
  background-position: right;
  background-repeat: repeat-y;
}

#dhShareBottom {
  background: url("/images/shareLinkXBorder.png") bottom right repeat-x;
}

#dhShareTL {
  vertical-align: top;
}

#dhShareTR {
  vertical-align: top;
}

#dhShareBL {
  vertical-align: bottom;
}

#dhShareBR {
  vertical-align: bottom;
}

#dhShareMain {
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
}

#dhShareContainer {
  width: 100%;
  height: 100%;
}

#dhShareLeft {
  /* border: 1px solid green; */
  vertical-align: top;
}

#dhShareLeftContainer {
  width: 100%;
  height: 100%;
}

#dhShareTitle {
  font-family: "Arial";
  font-weight: bold;
}

#dhShareSendTo {
  font-family: "Arial";
  font-weight: bold;
  color: #666666;
}

#dhShareRecipientsContainer {
  height: 24px;
  vertical-align: bottom;
}

.dhShareTopCornerImg {
  vertical-align: top;
  width: 5px;
  height: 5px;
}

.dhShareBottomCornerImg {
  vertical-align: bottom;
  width: 5px;
  height: 5px;
}

#dhShareRecipientComboBox {
  border: none;
  height: 24px;
  background: #b9dcff;
  padding: 0px;
  margin: 0px 2px;
}

#dhShareDownArrow {
  width: 24px;
  height: 24px;
  text-align: center;
  background: #b9dcff;
  margin: 0px 2px;
  padding-left: 2px;
  padding-right: 2px;  
}

#dhShareAddButton {
  margin: 0px 2px;
}

#dhShareRecipientsBox {
  background: #2062a4;
  min-height: 90px;
}

#dhShareRecipientsBoxTop {
  background: url("/images/darkblue_tr.gif") no-repeat top right;
}

#dhShareRecipientsBoxBottom {
  background: url("/images/darkblue_br.gif") no-repeat bottom right;
}

#dhRecipientList {
  margin: 5px;
  overflow: auto;
}

.dhShareRecipientPerson {
  margin: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 55px;
  max-width: 55px;
}

.dhShareRecipientPersonPhoto {
  border: 2px solid White;
  width: 48px;
  height: 48px;
}

.dhShareRecipientPersonName {
  color: White;
  font-size: smaller;
  width: 55px;
  text-overflow: ellipsis;
  height: 1.5em;
}

#dhShareRight {
  /* border: 1px solid blue; */
  vertical-align: top;
  height: 100%;
}

#dhShareRightOuterContainer {
  margin-top: 2px;
  background: #2062a4;  
  height: 100%;
}

.dhShareRightElt {
  background: #2062a4;
}

#dhShareDescriptionLabel {
  font-family: "Arial";
  font-weight: bold;
  color: White;
}

#dhShareDescriptionInnerBox {
  margin: 2px 5px;
  background: White;
  height: 150px;
}

#dhShareDescriptionInnerBoxTop {
  height: 1px;
  background: url("/images/whiteinner_tr.gif") no-repeat top right;
}

#dhShareDescriptionInnerBoxBottom {
  height: 1px;
  width: 1px;
  background: url("/images/whiteinner_br.gif") no-repeat bottom right;
}

#dhShareDescriptionArea {
  height: 100%;
  width: 100%;
}

#dhShareDescriptionContainer {
  height: 100%;
  width: 100%;
  background: White;
}

#dhShareDescriptionTextArea {
  background: White;
  display: block;
  border: none;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#dhShareDescriptionBottomFill {
    text-align: left;
    height: 35px;
}

#dhShareShareButton {
  position: absolute;
  bottom: 1px;
  right: 0px;
  height: 27px;
  width: 88px;  
}

/* A link that's basically a button (does something on click) */
.dhActionLink, .dhActionLink * {
	font-size: smaller;
	text-decoration: underline;
	color: White;
}

/* The highlight when a recipient would be put in a group */
.dhCouldBeInGroup {
	background-color:			#0f0;
}

#dhCreateGroupPopup {
	background-color:			#fff;
	padding:					0.5em;
	position:					absolute;
	right:						2em;
	bottom:						2em;
	width:						23em; /* a bit larger than the input inside it */
}

#dhCreateGroupName {
	width:						20em;
}
#dhCreateGroupStatus {
	text-align:					right;	
}

td.dhHeadShot {
	max-width:					48px;
	height:						48px;
	text-align:					center;
}
td.dhRemoveRecipient {
	text-align:					right;
}
a.dhRemoveRecipient {
	color:						red;
	font-weight:				bold;
	text-decoration:			none;
}
a.dhRemoveRecipient:link {
	color:						red;
	font-weight:				bold;
	text-decoration:			none;
}
td.dhRecipientName {
	font-size:					9pt;
}

.dhRecipientNote {
	font-size:					7pt;
	font-style:					italic;
}

#dhInvitationsRemainingMessage {
	float:						right;
}

/* ------------ IMPORT FROM SITEWIDE -------------- */


.dh-help-bubble {
	width:				200px;
	height:				75px;
	position:			absolute;
}
.dh-help-bubble-triangle {
	position:		relative;
	display:		block;
	top:			1px;
	z-index:		2; /* on top */
}
.dh-help-bubble-message {
	position:			relative;
	padding:			7px;
	font-size:			small;
	background-color:	#a773fb;
	color:				white;
	border:				1px solid black;
}
.dh-help-bubble a {
	font-size:			small;
	color:				yellow;
	text-decoration:	none;
	margin:				7px;
}
.dh-help-bubble a:link {
	color:				yellow;
}
.dh-help-bubble a:hover {
	text-decoration:	underline;
}
/* Autosuggest stuff */
.dh-suggestion-list {
	z-index:			2; /* on top */
	font-family: 		Bitstream Vera Sans, sans;
	font-size:			10pt;
	background: 		Window;
	padding: 			2px;
	border:             1px solid WindowText;
	max-width:			20em;
}
.dh-suggestion-list ul
{
	padding: 			0;
	margin: 			0;
	list-style-type: 		none;
}
.dh-suggestion-list a
{
	text-decoration: 		none;
	color: 				WindowText;
}
.dh-suggestion-list .dh-selected
{
	background: 			Highlight;
 	color: 				HighlightText;
}
.dh-suggestion-list .dh-selected a
{
	color: 				HighlightText;
}

#dhAutoSuggest {
	display: 			none;
	cursor: 			pointer;	
}
