@CHARSET "UTF-8";

/* This file contains or imports css that applies to 
 * general categories of page element we use on 
 * multiple pages. Classes like "dhFooBar" are specific 
 * to our site.
 * 
 * Dojo widgets have classes of their own, one approach is 
 * to set dh* classes on them in JavaScript, the other approach
 * is to just DOM inspector the page and find the classes
 * and css them from here.
 */

/* If you put anything in this "*" style, then it will not 
 * have "inherit" semantics anymore. i.e. if you put 
 * in background-color "white", then you change the color
 * of a node, its children will not be affected since this
 * style is explicitly forcing their color.
 *
 * In short, defaults in this "*" style must be overridden on a per-node
 * basis. Defaults in the "body" style must be overridden on a per-subtree
 * basis.
 */
* {
	font-family:					inherit;
	background-color:				inherit;
	color:							inherit;
	opacity:						inherit;
}

/* Defaults for the page go here */
body {
	font-family:					Verdana, sans;
	color:							#505050;
	background-color: 				"white";
	margin:							0;
}

div {
	margin:							0;
	padding:						0;
}

form {
	margin:							0;
}

table, tbody, tr, td {
	margin:							0;
	padding:						0;
	vertical-align:					top;
}

.dhLabel {
	/* be careful with this relative size; it is relative 
	 * to the parent, so if you apply it to two nested 
	 * nodes the inner node will be smaller than outer
	 */
	font-size:						smaller;
	margin-bottom:					0.5em;
}

/* Style of the text being typed by the user */
textarea, .dhTextArea, .dojoComboBox .comboBoxInput {
	font-size:						small;
	font-family:					Monospaced, mono;
	/* IE extension that avoids text area scrollbar (dynamically expands it) */
	overflow:                       visible;
	width: 							25em;
}

/* Style of the border around the text being input, which 
 * may be part of the <input> or of another tag around that
 * e.g. in Dojo combo box it's for a table
 */
textarea, .dhTextArea, .dojoComboBox {
	border:							1px solid #afafaf;
}

/* Styles for text areas only, not one-line text input */
textarea, .dhTextArea {
	width:							25em;
}

.dhUrl {
	text-decoration:				underline;
	text-overflow:					ellipsis;
}

div.dhUrl * {
	color:						blue;
}

a.editLabel {
	color:						blue;	
}

form.inlineEditBox input[type=text] {
	color:						blue;
}

/* A link that's basically a button (does something on click) */
.dhActionLink, .dhActionLink * {
	text-decoration:				underline;
	color:							blue;
}

/* Used for "this field needs fixing" messages */
.dhValidityError {
    color: red;
}

.dhButton, .dojoButton {
	/* text-align:						right; */
	background-color:				#efefef;
}


/* dojo-dialog is the outermost <div> of the dialog widget. Inside 
 * it is the dialog content class=dhDialogContent, and also inside
 * it is the background class=dialogUnderlay. Color of the underlay
 * seems to get set in code though so be careful...
 */
.dojo-dialog {
	background : #eee;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 4px;
}

/* FIXME this is currently centered on the entire page, not the 
 * browser window
 */
.dhDialogContent {

}

/* Used to hide elements */
.dhInvisible, .dhInvisible * {
	display:	none;
}

/* Insert a stock amount of vertical whitespace */
.dhVerticalPadding {
	margin-top: 	1em;
}

/* Dojo debug spew goes in element with id=dojoDebug */
#dojoDebug {
	font-size:	small;
	font-style: italic;
}
