@CHARSET "UTF-8";

#dhAccountSlideshow, .dh-slideshow-player {
	/* you want to float or absolute-position it so it shrinks to fit contents */
	padding:	6px;
	width:		450px;	/* Setting to an absolute width, can fix when we have more slideshows at different sizes */
	margin:		auto;
}

.dh-slideshow-screen {
	position:		relative;
	border: 		1px solid black;
}

div.dh-slideshow-spacer {
	text-align:			center;
	width:				100%;
}

.dh-slideshow-control-area {
	text-align:			center;
	float:				left;
	height:				2em;
	vertical-align:			middle;
}

a.dh-slideshow-control {
	margin:				3px;
	padding:			3px;
	text-decoration: 		none;
	color:				white;
	font-weight:			bold;
	background-color:		steelblue;
	cursor:				pointer;
	border:				2px outset lightsteelblue;
	display:			block;
	float:				left;
	width:				2em;
}
a.dh-slideshow-control:link {
	text-decoration: 		none;
	color:				white;
	font-weight:			bold;
	cursor:				pointer;
}
a.dh-slideshow-control[active=false] {
	background-color:		gray;
	border:				2px outset gray;
}
a.dh-slideshow-control[active=true] {
	background-color:		steelblue;
	border:				2px outset lightsteelblue;
}

a.dh-slideshow-control-pause[active=false] {
	background-color:		lightsteelblue;
	color:				black;
}

.dh-slideshow-where {
	display:			block;
	float:				left;
	margin:				3px;
	padding:			4px;
}

.dh-slideshow-slide {
	position:	absolute;
}
	
img.dh-slideshow-slide {
	/* background ensures other slides don't show through */
	background: #2222FF;
}

#dhSlideshowTextarea {
	vertical-align:			middle;
	height:				100%;
	width:				100%;
	padding:			7px;
}

#dhSlideshowTextarea, .dh-slideshow-text, .dh-slideshow-link {
	text-align:			center;
	margin:				auto;
}

.dh-slideshow-text {
	margin-top:			4em;
}
