<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Fragment>
        <UI>	
	    <Dialog Id="WelcomePage" Width="370" Height="347" Title="Installing Mugshot">
	        <Control Id="bannerBitmap" Type="Bitmap" FixedSize="yes" X="0" Y="0" Width="370" Height="35" Text="bannerBmp"/>
	        <Control Id="bannerText" Type="Text" X="5" Y="7" Width="360" Height="25" Transparent="yes">
	        </Control>
	        <Control Id="pageText" Type="ScrollableText" X="10" Y="45" Width="355" Height="250" Sunken="yes">
	            <Text src="license.rtf"/>
	        </Control>	    
	        <Control Id="acceptCheck" Type="CheckBox" Property="LicenseAccepted" CheckBoxValue="1" X="10"  Y="300" Width="355" Height="15">
	            <Text>I accept the terms of the license agreement</Text>
	        </Control>
	        <Control Id="installButton" Type="PushButton" X="243" Y="320" Width="56" Height="17" Default="yes">
	            <Text>Install</Text>
	            <Condition Action="enable">LicenseAccepted="1"</Condition>
	            <Condition Action="disable">NOT LicenseAccepted="1"</Condition>
	            <Publish Event="EndDialog" Value="Return"/>
	        </Control>
	        <Control Id="exitButton" Type="PushButton" X="304" Y="320" Width="56" Height="17" Cancel="yes">
	            <Text>Exit</Text>
	            <Publish Event="EndDialog" Value="Exit"/>
	        </Control>
	    </Dialog>
	</UI>
    </Fragment>
</Wix>
