<cruisecontrol>
  <project name="testhippo" buildafterfailed="true">
    <listeners>
      <currentbuildstatuslistener
          file="logs/testhippo/buildstatus.txt"/>
    </listeners>

    <!-- Bootstrappers are run every time the build runs,
        *before* the modification checks -->
    <bootstrappers>
    </bootstrappers>

    <!-- Defines where cruise looks for changes, to decide
         whether to run the build -->
    <modificationset quietperiod="10">
      <svn localworkingcopy="checkout/testhippo"/>
    </modificationset>

    <!-- Configures the actual build loop, how often and which
         build file/target -->
    <schedule interval="60">
      <ant antscript="ant"
           buildfile="checkout/testhippo/build-cruisecontrol.xml"
           target="build"
           uselogger="true"
           usedebug="false"/>
    </schedule>

    <!-- directory to write build logs to -->
    <log logdir="logs/testhippo"/>

    <!-- Publishers are run *after* a build completes -->
    <publishers>
       <htmlemail mailhost="localhost"
        returnaddress="root@dumbhippo.com"
        buildresultsurl="http://notomcatyet"
        skipusers="false"
        spamwhilebroken="false"
        reportsuccess="fixes"
        subjectprefix="[dumbhippo build results] "
        logdir="logs/testhippo">
          <map alias="hp" address="hp@redhat.com"/>
          <map alias="otaylor" address="otaylor@redhat.com"/>
          <map alias="walters" address="walters@redhat.com"/>
          <failure address="hp@redhat.com"/>
          <failure address="otaylor@redhat.com"/>
          <failure address="walters@redhat.com"/>
    </htmlemail>
    </publishers>
  </project>
</cruisecontrol>
