<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Fragment>
        <UI>
	    <Dialog Id="ProgressPage" Width="370" Height="200" Title="Installing Mugshot" Modeless="yes">
	        <Control Id="bannerBitmap" Type="Bitmap" FixedSize="yes" X="0" Y="0" Width="370" Height="35" Text="bannerBmp"/>
	        <Control Id="bannerText" Type="Text" X="5" Y="7" Width="360" Height="25" Transparent="yes">
	        </Control>
	        <Control Id="pageText" Type="Text" X="10" Y="45" Width="355" Height="15">
	            <Text>Please wait while the Mugshot client is installed.</Text>
	        </Control>
	        <Control Id="progressBar" Type="ProgressBar" X="10" Y="65" Width="355" Height="15">
	            <Subscribe Event="SetProgress" Attribute="Progress"/>
	        </Control>
	        <Control Id="actionText" Type="Text" X="10" Y="85" Width="355" Height="15">
	            <Subscribe Event="ActionText" Attribute="Text"/>
	        </Control>
	        <Control Id="okButton" Type="PushButton" X="243" Y="173" Width="56" Height="17" Disabled="yes">
	            <Text>OK</Text>
	        </Control>
	        <Control Id="cancelButton" Type="PushButton" X="304" Y="173" Width="56" Height="17" Cancel="yes">
	            <Text>Cancel</Text>
	            <Publish Event="EndDialog" Value="Exit"/>
	        </Control>
	    </Dialog>
        </UI>
    </Fragment>
</Wix>
