#dhHourSelector {
     position: fixed; 
	 top: 10px; 
	 left: 700px; 
}

.dh-graph {
	position: relative;
	width: 600px; 
	height: 200px; 
}

.dh-coordinates {
	width:      260px;
	height:     20px;
	margin-top: 2px;
	padding:    2px; 
}