#dhSearchBoxFind {
	margin-top:		3px;
}

.dh-stacker-block-right {
}

.dh-stacker-block-header {
}

.dh-stacker-block-content-container {
}

/* heigth: 1% is a hack to have "layout" forced on the text container for IE6, picked up on
   http://www.pmob.co.uk/pob/caption-clear.htm */
.dh-learnmore-explanation {
    height:        1%;
}

.dh-person-item-more-info {
    width:         270px;
}

.dh-person-item-more-info .dh-person-item-name {
    margin-top:    1px;
}