@CHARSET "UTF-8";
@IMPORT url("site.css");
@IMPORT url("download-positions.css");

#dhDownloadTopMessage {
	color: white;
	font-size: 18px;
}

.dh-download-purple {
	color: #8c509d;
	font-weight: bold;
}

.dh-download-separator {
	background: black;
}

.dh-download-instructions {
	font-size: 14px;
	font-weight: bold;
}

#dhDownloadInstructionsHeader {
	font-size: 18px;
}

.dh-download-product {
	font-size: 18px;
	font-weight: bold;
}

.dh-download-info-area-header {
	font-size: 16px;
}

.dh-download-accepted {
	color:	#666666;
}

.dh-download-more-information {
	font-size: 12px;
}

.dh-download-other-options {
	font-size: 10px;
}

.dh-download-product-disabled {
	color: #cccccc;
	cursor: default;
}

.dh-accept-terms-box-normal .dh-accept-terms-warning {
	display: none;
}

.dh-accept-terms-box-warning {
	background-color:	#ffffcc;
	border:				1px solid #cc0033;
	padding-top:		10px;
	padding-bottom:		10px;
	-moz-border-radius:	5px;
}

.dh-accept-terms-box-warning .dh-accept-terms-warning {
	display: 			block;
	color:				#cc0033;
	font-weight:		bold;
}

#dhDownloadInfoAreaContainer {
	border: 1px solid black;
}
