[mysql]
user=root
password=@@mysqlPassword@@

[mysqld]
datadir=@@targetdir@@/data/
socket=@@targetdir@@/run/mysql.sock
port=@@mysqlPort@@
     
[mysqld_safe]
err-log=@@targetdir@@/log/mysqld.log
pid-file=@@targetdir@@/run/mysqld.pid
