[client]
user=root
host=127.0.0.1
port=@@mysqlPort@@
password=@@mysqlPassword@@

[mysqld]
datadir=@@targetdir@@/data/
socket=@@targetdir@@/run/mysql.sock
port=@@mysqlPort@@
#log=@@targetdir@@/log/queries.log
     
[mysqld_safe]
err-log=@@targetdir@@/log/mysqld.log
pid-file=@@targetdir@@/run/mysqld.pid

