@CHARSET "UTF-8";
@IMPORT url("badges-positions.css");

.dh-badges-top-text-headline {
	color:				#9648BC;
	font-weight:  		bold;
	font-size:	  		18px;
}

.dh-badges-top-text-body {
	font-size:			14px;	
}

.dh-badges-step-box {
	background-color: 	#EEEEEE;
}

.dh-badges-step-title {
	font-weight:	bold;
}

.dh-badges-step-number {
	color:				#9648BC;
}

.dh-badges-code {
	background-color:	#FFFFFF;
}

.dh-badges-signup-or-login-text {
	color:				#9648BC;
	font-size: 			14px;
	font-weight:		bold;
}

.dh-badges-button-advert {
	font-size: 			14px;
}

.dh-badges-button-img-link {
	font-size: 			16px; 
	font-weight: 		bold; 
	color: 				#9648bc;
}

.dh-badges-button-link {
	color:				#0000ff;
	text-decoration:		underline;
}

.dh-badges-button-link:visited {
	color:				#0000ff;
}
