<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Fragment>
        <UI>	
	    <Dialog Id="FatalErrorPage" Width="370" Height="200" Title="Installing Mugshot">
	        <Control Id="bannerBitmap" Type="Bitmap" FixedSize="yes" X="0" Y="0" Width="370" Height="35" Text="bannerBmp"/>
	        <Control Id="bannerText" Type="Text" X="5" Y="7" Width="360" Height="25" Transparent="yes">
	        </Control>
	        <Control Id="pageText" Type="Text" X="10" Y="45" Width="355" Height="15">
	            <Text>Installation of the Mugshot client failed; your system wasn't modified.</Text>
	        </Control>
	        <Control Id="closeButton" Type="PushButton" X="304" Y="173" Width="56" Height="17" Cancel="yes">
	            <Text>Close</Text>
	            <Publish Event="EndDialog" Value="Exit"/>
	        </Control>
	   </Dialog>
	</UI>
    </Fragment>
</Wix>
