@CHARSET "UTF-8";

body {
	margin:				0px;
	line-height:        100%; 
}

/* the default space between lines in Linux Firefox is too big */
body table {
	line-height:        100%; 
}

#dhFramerTable {
    width:        100%;
    height:       101px; 
    table-layout: fixed;   
}

#dhFramerLeft .dh-stacker-block-icon {
    margin:    0px;
}

#dhFramerLeft .dh-stacker-block-title-lock {
    padding-right:		0px;
    padding-left:		0px;		  
}

#dhFramerLeft .dh-photo {
    margin-right:       5px;
}

#dhFramerLeft p {
    margin:             0px;
}

#dhBlockInfoTable {
    width:        100%;
    table-layout: fixed;   
}

#dhBlockContent {
    height:             60px;
    overflow:           hidden;
}

.dh-block-details {
    overflow:           hidden;
}

#dhPostChatLog {
    width:              100%;
}

#dhPostChatMessages {
    display: none;
    clear:   both;
    width:   100%;
}

.dh-chat-message-sentiment {
	padding-top:   2px;
	padding-left:  0px;
	padding-right: 2px;
}

#dhQuipper {
    display: block;
    float:   left;
}

#dhFramerClose {
    display: block;
    float:   right;
}

#dhChatMessageInput {
   height:	 2em;
   width:	 20em;
}

#dhQuipPopupTitle {
	margin-bottom:	0px;
}

.dh-chat-sentiment img, .dh-quip-sentiment img  {
	margin-bottom:  -1px;		
}

#dhFramerActions {
    clear:   both;
}