@CHARSET "UTF-8";
@IMPORT url("groups-positions.css");

.dh-groups-invited-header {
	font-weight:	bold;
	font-size:		12px;
}

.dh-groups-create-link {
	font-size:		12px;
	font-weight:	normal;
}

.dh-group-invitation-action-complete {
	font-weight: bold;
}
