@CHARSET "UTF-8";
@IMPORT url("person.css");
@IMPORT url("main-positions.css");

.dh-intro-message {
    color:        #9648BC;
	font-weight:  bold;
	font-size:	  20px;
}

.dh-intro-explanation, .dh-intro-options, .dh-header {
	color:			#9648CD;
	font-weight:	bold;
	font-size:		16px;
}

.dh-header {
    font-size:      18px;
}