@CHARSET "UTF-8";
@IMPORT url("site.css");
@IMPORT url("main-positions.css");

.dh-logo-link, #dhMainLogoLinks {
	color:			#ffffff;
	background-color:	transparent;
	font-weight:		bold;
	font-size:		16px;
}

.dh-logo-link {
	text-decoration:	underline;
}

.dh-logo-link:visited {
	color:			#ffffff;
}

#dhMugshotIntro {
    font-weight:  normal;
    font-size:    12px;
}

.dh-leading-text {
    font-weight: bold;
} 

.dh-leading-text a {
    text-decoration: underline;
}

.dh-leading-text a:visited {
	color:     blue;
}

#dhMugshotIntroHeader {
    color:        #9648BC;
	font-weight:  bold;
	font-size:	  18px;
}