@CHARSET "UTF-8";
@IMPORT url("person.css");
@IMPORT url("main-positions.css");

.dh-intro-message {
    color:        #9648BC;
	font-weight:  bold;
	font-size:	  30px;
}

.dh-intro-explanation, .dh-intro-options, .dh-header {
	color:			#9648CD;
	font-weight:	bold;
	font-size:		18px;
}

.dh-header a:link, .dh-header a:hover, .dh-header a:visited {
    color:          #9648CD;  
}

.dh-stacker-block-icon, .dh-stacker-block-title, .dh-stacker-block-right {
    display:        none;
}