@CHARSET "UTF-8";

.dh-person-header-next-to-image {
	margin-left:	10px;
}

.dh-person-header {
    position:       relative;
}

.dh-person-header .dh-person-info {
    position:       relative;
    width:          100%;
    margin-top:		8px;
    /* FIXME - needs to be moved into -iefixes */
    margin-right:   -20px;
}