.dojoHtmlSplitterPanePanel{

	background-color: #D4D0C8;
	padding: 5px;
	margin: 0;
}

.dojoHtmlSplitPaneSizerH {

	cursor: move;
	cursor: w-resize;
	background-color: #D4D0C8;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	margin: 0;
}

.dojoHtmlSplitPaneSizerV {

	cursor: move;
	cursor: n-resize;
	background-color: #D4D0C8;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	margin: 0;
}

.dojoHtmlSplitPaneVirtualSizerH {

	cursor: move;
	cursor: w-resize;
	background-color: #808080;
	margin: 0;
}

.dojoHtmlSplitPaneVirtualSizerV {

	cursor: move;
	cursor: n-resize;
	background-color: #808080;
	margin: 0;
}
