@CHARSET "UTF-8";

#dhChatPostInfoDiv {
    position:  absolute;
    top:       10px;
    left:      10px;
}

#dhChatPeopleContainer {
	position:         absolute;
    width:            12em;
    padding-right:    6px;
    left:             10px;
}

#dhChatPeopleDiv {
    border:   0px; 
    position: absolute;
}

#dhChatPeopleNW {
	position: 	      absolute;
	top:		      -6px;
	left:		      -5px;
	width:		      17px;
	height:		      16px;
}

#dhChatPeopleSW {
	position: 	      absolute;
	left:		      -5px;
	width:		      17px;
	height:		      16px;
}

#dhChatSendButtonArea {
    border:           0px;
    margin:           0px;
    padding:          0px;
    position:         absolute;
}

#dhChatMessagesContainer {
	position: absolute;
}	

#dhChatMessagesDiv {
    margin:                0px;
    position:              absolute;
}

#dhChatMessagesNE {
	position: 	      absolute;
	top:		      -6px;
	width:		      13px;
	height:		      14px;
}

#dhChatSendButton {
	position: 	      absolute;
	width:		      77px;
	height:		      28px;
}

#dhChatMessageInput {
    position:         absolute;
}

.dh-chat-person {
	position:          relative;
	top:               -3px;
	margin-left:       3px;
	height:            70px;
	width:             99%;
}

.dh-chat-person-image {
    position:         absolute;
    top:              5px;
    left:             7px;
}

.dh-chat-person-image a {
	border:           0px;
}

.dh-chat-person-name {
	position:         absolute;
	top:              10px;
	left:             74px;
}

.dh-chat-person-name-inner {
	position:         relative;
	width:            97%; 
}

.dh-chat-person-arrangement-name {
	position:         absolute;
	top:              37px;
	left:             91px; 
}

.dh-chat-person-arrangement-name-inner {
	position:         relative;
	width:            95%; 
}

.dh-chat-person-artist {
	position:         absolute;
	top:              50px;
	left:             91px; 
}

.dh-chat-person-artist-inner {
	position:         relative;
	width:            95%; 
}

.dh-chat-message-user-first {
    margin-top: 8px;
}

.dh-chat-message-my .dh-chat-message-image {
    float:   left;
    display: inline;
    clear:   both;
    padding: 0px;
    margin:  0px;   
}

.dh-chat-message-other .dh-chat-message-image {
    float:   right;
    display: inline;
    clear:   both;
    padding: 0px;
    margin:  0px;
}

.dh-chat-message-user-repeat .dh-chat-message-image {
    display: none;    
}

.dh-chat-message-my .dh-chat-message-text {
    text-align:       left;
    display:          inline;
    clear:            right;
}

.dh-chat-message-other .dh-chat-message-text {
    text-align:       left;
    display:          inline;
    clear:            left;
}
