@CHARSET "UTF-8";
@IMPORT url("chatwindow-positions.css");

body {
   background-color: white;
   font-family:	     Bitstream Vera Sans, Verdana, sans;
}

#dhChatPostInfoDiv {
   font-size: larger;
   overflow:  hidden;
}

#dhChatPeopleContainer {
   background-color: #F16D1C;
}

#dhChatPeopleDiv {
   overflow: auto;
   /* scrollbar-face-color:  #99CDFF;  */
   /* scrollbar-track-color: #E7F0FF;  */
   /* scrollbar-arrow-color: #174675;  */    
}

#dhChatPeopleNW {
	background-image: url(/images2/chatPeopleNW.gif);
	overflow:         hidden;
}

#dhChatPeopleSW {
	background-image: url(/images2/chatPeopleSW.gif);
	overflow:         hidden;
}

#dhChatSendButtonArea {
   overflow:         hidden;
   background-color: #F16D1C;
}

#dhChatMessagesDiv {
   border-top:            10px solid #F16D1C;
   border-right:          10px solid #F16D1C;
   border-bottom:         6px solid #F16D1C;
   overflow:              auto;
   background-color:      white;
   /* scrollbar-face-color:  #99CDFF;  */
   /* scrollbar-track-color: #E7F0FF;  */
   /* scrollbar-arrow-color: #174675;  */
}

#dhChatMessagesNE {
	background-image: url(/images2/chatMessagesNE_small.gif);
	overflow:         hidden;
}

#dhChatSendButton {
	overflow:         hidden;
}

#dhChatMessageInput {
   border-top:       0px;
   border-left:      0px;
   border-bottom:    0px;
   border-right:     10px solid #F16D1C;
   background-color: white;
   overflow:         auto;
}

.dh-chat-person {
	background-repeat: no-repeat;
}

.dh-chat-person-music-playing {
	background-image:  url(/images2/personAreaNoteOn_60.gif);
}

.dh-chat-person-music-stopped {
	background-image:  url(/images2/personAreaNoteOff_60.gif);
}

.dh-chat-person-image {
   background-color: transparent;
   cursor:           pointer;
}

.dh-chat-person-name {
   background-color: transparent;
   color:            white;
   font-size:        18px;
}

.dh-chat-person-name-inner {
	background-color: transparent;
	font-weight:      bold;
   white-space:      nowrap; 
   overflow:         hidden;   
   text-overflow:    ellipsis;   
}

.dh-chat-person-name-inner a {
   color: white;
	text-decoration: none;  
}

.dh-chat-person-arrangement-name {
   background-color: transparent;
   color:            #174675;   
}

.dh-chat-person-arrangement-name-inner {
	background-color: transparent;
	font-size:        x-small;
   white-space:      nowrap; 
   overflow:         hidden;   
   text-overflow:    ellipsis;   
}

.dh-chat-person-arrangement-name-inner a {
   color: #174675;
	text-decoration: none;   
}

.dh-chat-person-artist {
   background-color: transparent;
   color:            #174675;   
}

.dh-chat-person-artist-inner {
	background-color: transparent;
	font-size:        x-small;
	white-space:      nowrap; 
   overflow:         hidden;   
   text-overflow:    ellipsis;   
}

.dh-chat-person-artist-inner a {
   color: #174675;
	text-decoration: none;   
}

.dh-chat-person-music-stopped {
   color: #7E858F;
}

.dh-chat-person-music-stopped a {
   color: #7E858F;
}

.dh-chat-message-image {  
   cursor:  pointer; 
}

.dh-chat-message-text {
   text-wrap: normal;
   word-wrap: break-word;
}

.dh-chat-message-my .dh-chat-message-text {
   background-color: #fef0e8;
   color:            #F16D1C;
}

.dh-chat-message-other .dh-chat-message-text {
   background-color: #ecf7f6;
   color:            #41AEA3;
}

.dh-chat-message-my .dh-chat-message-text {
   border-top: 1px solid #fbdac6;
}

.dh-chat-message-other .dh-chat-message-text {
   border-top: 1px solid #cfebe8;
}

.dh-chat-message-user-first .dh-chat-message-text {
   border-top: 0px;
}

// do not set any font properties here, set them in chatwindow.js
// so that we don't forget to use them when the text width is measured
.dh-chat-message-text-inner {
}

.dh-disabled-table {
   table-layout: fixed;
   width: 100%;
   height: 100%;
}

.dh-disabled-message {
   font-size: 15px;
   color:     #444444;
}