@CHARSET "UTF-8";

@import "sitewide.css";

body 
{
    background-color: white;
}

#dhChatPostInfoDiv 
{
    position:  absolute;
    top:       10px;
    left:      10px;
    font-size: larger;
    overflow:  hidden;
}


#dhChatPeopleContainer 
{
	position: absolute;
    width:    12em;
    left:     10px;
    background-color: #3399FF;
}

#dhChatPeopleDiv 
{
    border:                0px;
	margin-right:          10px;
    position:              absolute;
    width:                 100%;
    overflow:              auto;
    scrollbar-face-color:  #99CDFF;
    scrollbar-track-color: #E7F0FF;
    scrollbar-arrow-color: #174675;  
}

#dhChatPeopleNE {
	position: 	      absolute;
	top:		      -3px;
	right:		      -3px;
	background-image: url(/images/chatPeopleNE.jpg);
	width:		      23px;
	height:		      21px;
	overflow:         hidden;
}

#dhChatPeopleNW {
	position: 	      absolute;
	top:		      -3px;
	left:		      -3px;
	background-image: url(/images/framerBubbleNWFFFFFF.gif);
	width:		      21px;
	height:		      20px;
	overflow:         hidden;
}

#dhChatAdsDiv 
{
    border:           0px;
    margin:           0px;
    padding:          0px;
    position:         absolute;
    top:              10px;
    left:             10px;
    overflow:         hidden;
    background-color: #2266AB;
}

#dhChatAdsInnerDiv 
{
    margin: 5px;
    font-size: small;
}

#dhChatAdsSE {
	position: 	      absolute;
	bottom:		      -5px;
	right:		      -5px;
	background-image: url(/images/chatAdsSE.jpg);
	width:		      22px;
	height:		      18px;
	overflow:         hidden;
}

#dhChatAdsSW {
	position: 	      absolute;
	bottom:		      -4px;
	left:		      -4px;
	background-image: url(/images/chatAdsSW.jpg);
	width:		      25px;
	height:		      20px;
	overflow:         hidden;
}

#dhChatMessagesDiv 
{
    border-top:            thin solid #465D75;
    border-right:          thin solid #465D75;
    border-bottom:         thin solid #465D75;
    margin:                0px;
    position:              absolute;
    overflow:              auto;
    background-color:      white;
    scrollbar-face-color:  #99CDFF;
    scrollbar-track-color: #E7F0FF;
    scrollbar-arrow-color: #174675;  
}

#dhChatMessageInput 
{
    position:         absolute;
    background-color: white;
    overflow:         auto;
}

#dhChatSendButton 
{
    position:         absolute;
    height:           3em;
    background-color: #99CDFF;
    color:            #174675;
}

.dh-chat-person
{
	position:          relative;
	margin-left:       5px;
	height:            70px;
	width:             96%;
	background-image:  url(/images/personArea.jpg);
	background-repeat: no-repeat;
}

.dh-chat-person-image
{
    position:         absolute;
    top:              6px;
    left:             7px;
    background-color: transparent;
    cursor:           pointer;
}

.dh-chat-person-name
{
	position:         absolute;
	top:              8px;
	left:             63px;
    background-color: transparent;
    color:            white;
    
}

.dh-chat-person-name-inner
{
	position:         relative;
	background-color: transparent;
	font-weight:      bold;
	width:            97%; 
    white-space:      nowrap; 
    overflow:         hidden;   
    text-overflow:    ellipsis;   
}

.dh-chat-person-name-inner a
{
    color: white;
	text-decoration: none;  
}

.dh-chat-person-arrangement-name
{
	position:         absolute;
	top:              25px;
	left:             80px;
    background-color: transparent;
    color:            #174675;
    
}

.dh-chat-person-arrangement-name-inner
{
	position:         relative;
	background-color: transparent;
	font-size:        x-small;
	width:            95%; 
    white-space:      nowrap; 
    overflow:         hidden;   
    text-overflow:    ellipsis;   
}

.dh-chat-person-arrangement-name-inner a
{
    color: #174675;
	text-decoration: none;   
}

.dh-chat-person-artist 
{
	position:         absolute;
	top:              38px;
	left:             80px;
    background-color: transparent;
    color:            #174675;
    
}

.dh-chat-person-artist-inner
{
	position:         relative;
	background-color: transparent;
	font-size:        x-small;
	width:            95%; 
	white-space:      nowrap; 
    overflow:         hidden;   
    text-overflow:    ellipsis;   
}

.dh-chat-person-artist-inner a
{
    color: #174675;
	text-decoration: none;   
}

.dh-chat-person-music-stopped
{
    color: #eedd88;  
}

.dh-chat-person-music-stopped a
{
    color: #eedd88; 
}

.dh-chat-message-user-first {
    margin-top: 8px;
}

.dh-chat-message-my .dh-chat-message-image 
{
    float:   left;
    display: inline;
    clear:   both;
    padding: 0px;
    margin:  0px;   
    cursor:  pointer; 
}

.dh-chat-message-other .dh-chat-message-image 
{
    float:   right;
    display: inline;
    clear:   both;
    padding: 0px;
    margin:  0px;
    cursor:  pointer; 
}

.dh-chat-message-user-repeat .dh-chat-message-image 
{
    display: none;    
}

.dh-chat-message-text {
    text-wrap: normal;
    word-wrap: break-word;
}

.dh-chat-message-my .dh-chat-message-text {
    text-align:       left;
    display:          inline;
    clear:            right;
    background-color: #944e0f;
    color:            white;
}

.dh-chat-message-other .dh-chat-message-text {
    text-align:       left;
    display:          inline;
    clear:            left;
    background-color: #A0D24D;
    color:            black;
}

.dh-chat-message-user-repeat .dh-chat-message-text {
    border-top: 1px solid #94840F
}

// do not set any font properties here, set them in chatwindow.js
// so that we don't forget to use them when the text width is measured
.dh-chat-message-text-inner {
}
