body 
{
    border: none;
    background-color: White;    
}

.dh-close-button 
{
    position: absolute;
    margin-left: 2px;
    margin-bottom: 2px;
    top: 0px;
    right: 0px;
}

.dh-nav-mask-img
{
    position: absolute;
    top: 0px;
    left: 0px;
}

.dh-left-img
{
    position: absolute;
    top: 0px;
    left: 51px;
}

.dh-right-img
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.dh-notification-leftside
{
    background-color: rgb(20%,60%,100%);        
    position: absolute;
    width: 90px;
    left: 66px;
    top: 3px;
    height: 117px;
    color: White;
    text-align: center;
}

.dh-notification-photo-div
{
    border-style: none; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.dh-notification-photo
{
    /* Right now the Java code scales headshots to a max of 48px in each
     * dimension, but preserving aspect ratio. If height < width the below
     * will mangle the aspect again. If changing from 48px, also change the 
     * Java code. We need to fix the Java code to always produce exactly 
     * 48x48 images though (i.e. pad images with transparency) since 
     * css can't be smart about "max size of largest dimension".
     * height is fixed here because for a headshot height>width seems more 
     * likely than width>height.
     */
    display: block;
    width: 48px;
    height: 48px;
}

.dh-notification-photolink {
    text-align:             center;
    width:                  100%;
    text-overflow:          ellipsis;
    overflow:               hidden;
    font-size:              x-small;
    color:                  White;
}

.dh-notification-navigation
{
    color: Blue;
    font-size: x-small;
    position: absolute;
    text-align: center;
    left: 0px;
    width: 66px;
    bottom: 0px;
}

.dh-notification-navigation-text
{
    color: Gray;
}

.dh-notification-navigation-button
{
    border: none;
}

.dh-notification-rightside
{
    color: White;
    background-color: rgb(20%,60%,100%);    
    position: absolute;
    top: 3px;
    left: 156px;
    right: 3px;
    height: 117px;
}

/* See comment in dh.notification.display._fixupLayout() if you change this */
.dh-notification-title 
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: small;
    width: 100%;
}

.dh-notification-title-seen
{
    color: Gray;
}

.dh-notification-body
{
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    font-size: x-small;
}

.dh-notification-bottomright
{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.dh-notification-meta-outer
{
    font-size: small;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.dh-notification-meta
{
    font-size: x-small;
}

span.dh-notification-recipient
{
    font-weight: bold
}

span.dh-notification-self-recipient
{
    font-weight: bold;
    font-style: italic;
}

span.dh-notification-group-recipient
{
    font-weight: bold;
    font-size: 120%;
}

.dh-notification-swarm-nav
{
    position: absolute;
    left: 220px;
    top: 121px;
    right: 3px;
    width: 100%;    
    text-overflow: ellipsis;
    color: Blue;
}

.dh-notification-swarm
{
    position: absolute;
    left: 156px;
    top: 143px;
    right: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;    
}

span.dh-notification-viewer
{
}

span.dh-notification-self-viewer
{
    font-weight: bold;
}