@import "bubble.css";

#dhBubbleListTop 
{
    margin: 2px;
    background-color: #F8BB77;
    padding: 8px;
    overflow: hidden;
}

.dh-notification-top
{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: White;
    position: relative;
    width: 390px;
}

.dh-notification-top-tl
{
    background-image: url(lswhite_tl.png);
    width: 10px;
    height: 10px; 
}

.dh-notification-top-tr
{
    background-image: url(lswhite_tr.png);
    width: 10px;
    height: 10px; 
}

.dh-notification-top-bl
{
    background-image: url(lswhite_bl.png);
    width: 10px;
    height: 10px; 
}

.dh-notification-top-br
{
    background-image: url(lswhite_br.png);
    width: 10px;
    height: 10px; 
}

.dh-notification-color-tr
{
    background-image: url(lsorange_tr.png);
    width: 8px;
    height: 8px;
}

/* This div is used to cover up a rounding error in IE when positioning
   an image with "right:" in IE. We stick a div at right -1px that gets
   offset by the same bug, and covers up the 1 pixel of background */
.dh-bubble-border-fixup
{
    position: absolute;
    top: 0px;
    right: -1px;
    height: 184px;
    width: 1px;
    background-color: #F8BB77;
}
