/* Note that if you change things like the border around the menu or
 * the margin around menu items, the sizing code in menu.js needs to 
 * be adjusted as well 
 */
body
{
    border: solid 1px gray;
    font: menu;
    width: 100%;
    height: 100%;
}

.dh-active-post
{
    color: WindowText;
    background-color: #eedd88;
    margin: 3px;
    white-space: nowrap;
    cursor: pointer; /* For IE 5 and earlier you'd need 'hand' instead */
}

.dh-active-post-hover
{
    color: HighlightText;
    background-color: Highlight;
}

.dh-active-post-title
{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dh-active-post-meta
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.dh-active-post-icon
{
    float: left;
}

.dh-menu-div
{
    width: 100%;
    text-align: center;
    margin: 3px;
}

.dh-menu-div .dh-menu-link
{
    width: 100%;
}

.dh-menu-link
{
    color: WindowText;
    background-color: #eedd88;
    padding: 5px;
    text-decoration: none;
}

.dh-menu-link:visited
{
    color: WindowText;
}

.dh-menu-link:hover
{
    color: HighlightText;
    background-color: Highlight;
}

#dhMenuExit
{
    position: absolute;
    left: 3px;
    bottom: 3px;
}

#dhMenuHush
{
    position: absolute;
    right: 3px;
    bottom: 3px;
}