<?xml version="1.0" ?>
<!-- note this file must actually be XML to make XSLT work -->
<html xmlns:dh="http://dumbhippo.com/schema/clientjs">
    <head>
        <dh:coreStyle/>
        <dh:menuStyle/>
        <title>DumbHippo Menu</title>
        <dh:coreScript/>
        <dh:menuScript/>
    </head>
    <body scroll="no">
        <div class="dh-menu-div"><a href="#" onclick="dh.menu.showRecent()" id="dhMenuRecent" class="dh-menu-link">Recent Links</a></div>
        <div class="dh-menu-div"><a href="#" onclick="dh.menu.showHot()" id="dhMenuHot" class="dh-menu-link">What's Hot</a><br/></div>
        <div class="dh-menu-div"><a href="#" onclick="dh.menu.showHome()" id="dhMenuHome" class="dh-menu-link">Your Home</a><br/></div>
        <a href="#" onclick="dh.menu.exit()" id="dhMenuExit" class="dh-menu-link">Exit</a>
        <a href="#" onclick="dh.menu.hush()" id="dhMenuHush" class="dh-menu-link">Hush</a>
    </body>    
</html>
