table.dh-notification * {
	margin:					0;
	padding:				0;
	font-size:				90%;
	vertical-align:			top;
}
td.dh-notification-sender {
	text-align:				center;
	width:					8em;
	text-overflow:			ellipsis;
	overflow:				hidden;
}
img.dh-notification-sender {
	margin:					0.3em;
	/* Right now the Java code scales headshots to a max of 48px in each
	 * dimension, but preserving aspect ratio. If height < width the below
	 * will mangle the aspect again. If changing from 48px, also change the 
	 * Java code. We need to fix the Java code to always produce exactly 
	 * 48x48 images though (i.e. pad images with transparency) since 
	 * css can't be smart about "max size of largest dimension".
	 * height is fixed here because for a headshot height>width seems more 
	 * likely than width>height.
	 */
	max-width:				48px;
	height:					48px;
	border:					0;
}
div.dh-link-title {
	text-overflow:			ellipsis;
	overflow:				hidden;
	font-size:				100%;
	font-weight:			bold;	
	padding:				0;
	margin:					0;
}
