table.dh-notification * {
	margin:					0;
	padding:				0;
	font-size:				90%;
	vertical-align:			top;
}
span.dh-notification-photolink {
	text-align:				center;
	width:					8em;
	text-overflow:			ellipsis;
	overflow:				hidden;
}
img.dh-notification-photo {
	margin:					0.3em;
	/* Right now the Java code scales headshots to a max of 48px in each
	 * dimension, but preserving aspect ratio. If height < width the below
	 * will mangle the aspect again. If changing from 48px, also change the 
	 * Java code. We need to fix the Java code to always produce exactly 
	 * 48x48 images though (i.e. pad images with transparency) since 
	 * css can't be smart about "max size of largest dimension".
	 * height is fixed here because for a headshot height>width seems more 
	 * likely than width>height.
	 */
	max-width:				48px;
	height:					48px;
	border-style: none;	
	border:					0;
}

div.dh-notification-title {
	text-overflow:			ellipsis;
	overflow:				hidden;
	font-size:				100%;
	padding:				0;
	margin:					0;
}

span.dh-notification-title-title 
{
	font-weight: bold;
}

div.dh-notification-meta 
{
	color: Gray;
}

span.dh-notification-recipient
{
	font-weight: bold
}

span.dh-notification-group-recipient
{
	font-weight: bold;
	font-size: larger;
}

div.dh-notification-navigation
{
}

div.dh-notification-navigation-text
{
	color: Gray;
}

img.dh-notification-navigation
{
	border-style: none;
}

img.dh-close-button 
{
	float: right;
}