.editLabel {
	font-family:		Bitstream Vera Sans Mono, mono;
	font-size : 		xx-small;
	padding : 0 5px;
	display:		inline;
	color:			#9b99ff !important;
	background-color:	inherit;
	text-decoration:	none;
}
a.editLabel:link {
	color:			#9b99ff !important;
	background-color : 	inherit;
}

.editableRegion {
	background-color : #ffc !important;
	cursor : pointer;
	_cursor : hand;
}

.editableRegion .editLabel {
	display : inline;
	color: 			blue !important;
	background-color : 	#ffc !important;
}

.editableTextareaRegion .editLabel {
	display : block;
}

.inlineEditBox {
	/*background-color : #ffc;*/
	display : inline;
}
