@CHARSET "UTF-8";

#dhDownloadTopMessage {
	position: relative;
	top: -50px;
	left: 140px;
}

.dh-body-without-sidebar #dhPage {
	width:			700px;
	text-align:		center; /* we want centered text */
}

#dhDownloadInfoAreaContainer {
	padding: 5px;
}

.dh-download-separator {
	width: 1px;
	margin: 0px 20px;
}

.dh-download-bottom-title {
	margin-bottom: 5px;
}

.dh-download-disclaimer {
	margin-top: 20px;
}

.dh-download-section-description {
	margin-left: 15px;
}

.dh-download-instruction-number {
	margin-right: 5px;
}

.dh-download-instruction {
	margin-bottom: 10px;
}

#dhDownloadFooter {
	margin-top: 15px;
}

.dh-download-more-information ul {
}
