@CHARSET "UTF-8";
@IMPORT url("site.css");
@IMPORT url("group.css");
@IMPORT url("group-account-positions.css");
@IMPORT url("photo-chooser.css");
@IMPORT url("feed-popup.css");

.dh-feed-detail {
	font-size:	12px;
	color:		#999999;
}
