@CHARSET "UTF-8";

#dhPage {
	width:			710px;
}

#dhPageHeader {
	width:			710px;	
}

#dhMainLogo {
	height:			120px;
	width:			710px;
	position:		relative;
	background-image:	url("/images2/mugshot_topper.gif");
	margin-bottom:		10px;
}

#dhMainLogoLinks {
	position:		absolute;
	bottom:			14px;
	right:			42px;
}

.dh-zone-box  {
	width:			230px;
	float:			left;
}

.dh-zone-box-spacer {
	float:			left;
	width:			10px;
	/* some height needed or firefox ignores the spacer; 
	 * also, needs to overlap the .dh-column-gap things 
	 * coming up from the bottom
	 */
	height:			180px;
}

.dh-color-web .dh-extra-info {
	margin-top:		10px;
}

.dh-extra-info table {
	width:			208px;
}

.dh-zone-box .dh-item {
	position:	relative;
}

.dh-song-with-art {
	width:				100%;
}

.dh-song-with-art .dh-song-info {
	width:				124px;
}

.dh-zone-box .dh-item .dh-song-item-details {
	/* must be padding not margin or an IE bug will assign the margin
	   to the album art also */
	padding-left:	85px;
}

#dhMainColumnBottoms {
	clear:			both;
	position:		relative;
	height:			1px;
}

.dh-column-side {
	position:		absolute;
	width:			1px;
	/* 	This is the minimum height of a
		zone box before the line extends too high 
		and looks broken */
	height:			260px;
	bottom:			0px;
}

.dh-column-bottom {
	position:		absolute;
	top:			0px;
}

.dh-column-gap {
	position:		absolute;
	width:			10px;
	height:			260px;
	bottom:			-1px;
}

#dhMainColumnOneLeftSide {
	left:			0px;	
}

#dhMainColumnOneRightSide {
	left:			229px;	
}

#dhMainColumnOneBottom {
	left:			0px;
}

#dhMainColumnOneTwoGap {
	left:			230px;	
}

#dhMainColumnTwoLeftSide, #dhMainColumnTwoBottom {
	left:			240px;	
}

#dhMainColumnTwoRightSide {
	left:			469px;	
}

#dhMainColumnTwoThreeGap {
	left:			470px;	
}

#dhMainColumnThreeLeftSide, #dhMainColumnThreeBottom {
	left:			480px;	
}

#dhMainColumnThreeRightSide {
	left:			709px;
}
