@CHARSET "UTF-8";
@IMPORT url("site.css");
@IMPORT url("music-positions.css");

.dh-sidebar-box.dh-controls-box {
	background-color:		#AED7ED;
}

#dhBeaconSample {
	margin-bottom: 10px;
}

#dhContentColumn .dh-zone-box .dh-song {
	margin-bottom:	10px;
}