@CHARSET "UTF-8";

body {
	margin-top:		0px;
	padding-top:	0px;
	
	/* centers the page in IE */
	text-align:		center;
}

/* browsers have default margins on forms it seems */
form {
	margin:			0px;	
}

/* post descriptions have <p> tags, avoid extra space from them */
.dh-blurb p {
	margin-top:		1px;
	margin-bottom:	1px;
}

#dhPage {
	position:		relative;	
	margin-top:		0px;
	
	/* override centering for children */
	text-align:		left;
	
	/* centers the page in Firefox */
	margin-left:	auto;
	margin-right:	auto;
}

.dh-body-with-sidebar #dhPage {
	width:			710px;
}

.dh-body-without-sidebar #dhPage {
	width:			500px;
}

#dhPageHeader {
	position:		relative;
	left:			0px;
	top:			0px;
	/* the image itself has about 7px of blank space already in it, so this gives total 12px */
	margin-bottom:	5px;
	overflow:		hidden;
}

.dh-body-with-sidebar #dhPageHeader {
	width:			710px;
}

.dh-body-without-sidebar #dhPageHeader {
	width:			500px;
}

.dh-main-page #dhPageHeader {
	width:			710px;	
}
	
.dh-header-short {
	height:			65px;
}

.dh-header-tall {
	height:			110px;	
}

#dhHeaderControls {
	position:		absolute;
	right:			10px;
	top:			7px;
}

#dhHeaderControls #dhHeaderLinks {
	margin-bottom:	4px;
	text-align:		right;
}

#dhHeaderLinks .dh-action-link {
	display:		inline;
}

#dhSearchBox .dh-text-input {
	width:			140px;
}

#dhHeaderLogo {
	position:		relative;
	left:			0px;
	top:			0px;
}

#dhWebServices {
	text-align:		center;
}

.dh-amazon-attribution, .dh-yahoo-attribution {
    margin:         15px; /* Yahoo! request */
}

#dhContentColumn .dh-zone-box .dh-item-with-photo {
	width:			478px;
}

#dhContentColumn .dh-zone-box .dh-item-with-numeral {
	width:			478px;
}

#dhContentColumn .dh-zone-box .dh-item            .dh-next-to-image .dh-extra-info table {
	width:			478px;
}

#dhContentColumn .dh-zone-box .dh-item-with-photo .dh-next-to-image .dh-extra-info table {
	width:			408px;	
}

#dhContentColumn .dh-zone-box .dh-item-with-photo .dh-next-to-image {
	float:			right;
	width:			408px;
}

#dhContentColumn .dh-zone-box .dh-item-with-photo .dh-image {
	float:				left;
	width:				60px;
	height:				60px;
	margin-right:		10px;
	background-color:	#666666; /* debug */
	/* without this IE will grow the box a bit apparently */
	overflow:			hidden;
}

#dhContentColumn .dh-zone-box .dh-item-with-numeral .dh-next-to-image .dh-extra-info table {
	width:			453px;	
}

#dhContentColumn .dh-zone-box .dh-item-with-numeral .dh-next-to-image {
	float:			right;
	width:			453px;
}

#dhContentColumn .dh-zone-box .dh-item-with-numeral .dh-numeral {
	width:				20px;
	float:				left;
	text-align:			right;
}

#dhSidebarColumn {
	float:				left;
	width:				200px;
	margin-right:		10px;
}

#dhContentColumn {
	float:				left;	
	width:				500px;
}

.dh-sidebar-box {
	padding:			10px;
	margin-bottom:		10px;
	overflow:			hidden;
}

.dh-compact-item {
	margin-top:			10px;	
}

.dh-compact-item .dh-image {
	width:				60px;
	height:				60px;
	background-color:	white; /* debug */
	
	/* without this IE will grow the box a bit apparently */
	overflow:			hidden;
}

.dh-compact-item .dh-next-to-image {
	width:				110px;
	margin-left:		10px;
	overflow:			hidden;
}

.dh-compact-item .dh-next-to-image .dh-name {
	/* on the page this is 10px, not sure where the extra px come from */
	margin-bottom:		3px;
}

.dh-compact-item .dh-next-to-image .dh-action-link {
	margin-top:			2px;
}

.dh-sidebar-box .dh-compact-item .dh-bio {
	margin-top:			10px;
}

.dh-sidebar-box .dh-more {
	margin-top:			10px;
}

#dhPageFooter {
	clear:			both;
	margin-top:		10px;
	text-align:		right;
}

.dh-zone-box {
	position:		relative;
}

.dh-zone-box .dh-separator, .dh-sidebar-box .dh-separator {
	margin-top:		10px;
	margin-bottom:	10px;
	clear:          left;
}


.dh-zone-box .dh-separator-invisible, dh-sidebar-box .dh-separator-invisible {
	margin-top:		0px;
	margin-bottom:	0px;
}

#dhContentColumn .dh-zone-box .dh-title {
	margin-bottom:	3px;
	word-wrap: break-word;
}

#dhContentColumn .dh-zone-box .dh-item {
	margin-bottom:		15px;
}

.dh-zone-box-content {
	position:		relative;
	padding-top:	10px;
	padding-bottom:	10px;
	padding-left:	10px;
	padding-right:	10px;
}

.dh-zone-box-border {
	padding-left:	1px;
	padding-right:	1px;
}

.dh-zone-box-title-container {
	width: 500px; 
	height: 32px;
}

.dh-zone-box-title-text {
	padding-top: 3px;
}

#dhContentColumn .dh-zone-box {
	margin-bottom:		10px;
}

.dh-nowplaying {
	width:				440px;
	height:				120px;
}

#dhContentColumn .dh-zone-box .dh-song {
	margin-bottom:		7px;
}

.dh-zone-box-header {
	position:			relative;
	width:				500px;
	height:				32px;
/* IE hack to prevent white space from appearing, font-size must be explicitly set in child nodes */
	font-size:			0;
}

.dh-zone-box-header-links {
	position:			absolute;
	bottom:				7px;
	right:				10px;
}

#dhContentColumn .dh-subcolumns {
	position:			relative;
	width:				478px;
	margin-top:			20px;
}

#dhContentColumn .dh-subcolumn {
	width:				232px;
}

#dhContentColumn .dh-subcolumn-one {
	float:				left;
	margin-right:		10px;	
}

#dhContentColumn .dh-subcolumn-two {
	float:				left;
	position:			relative;
}

.dh-grow-div-around-floats {
	clear:			both;
}

.dh-song-with-art {
	position: 			relative;
}

.dh-song-image {
	float:				left;
	width:				75px;
	text-align:			center;
}

.dh-song-with-art .dh-song-info {
	float:				left;
	margin-left:		8px;
	width:				147px;
}

.dh-one-line-song div {
	display:			inline;
}

.dh-one-line-song {
	width:				100%;
}

#dhContentColumn .dh-two-column-list {
	width:				478px;
	overflow:			hidden;
	margin-bottom:		15px;
}

#dhContentColumn .dh-two-column-list-inner {
	width:				488px; /* Includes right margin of right column */
}

#dhContentColumn .dh-two-column-list .dh-compact-item {
	float:				left;
	width:				234px;
	margin-right:		10px;
	margin-bottom:		10px;
}

#dhContentColumn .dh-two-column-list .dh-compact-item {
	margin-bottom:		0px;
}

#dhContentColumn .dh-two-column-list .dh-compact-item .dh-next-to-image {
	width:				164px;
}

.dh-invisible {
    display:    none;
}

.dh-option-list-option {
	margin-left: 5px;
	margin-right: 5px;
}

#dhContentColumn .dh-form-table {
	width:			478px;
	margin-top:		10px;
	margin-bottom:	10px;
}

#dhContentColumn .dh-form-table .dh-label-cell {
	padding-right:	10px;
}

#dhContentColumn .dh-form-table .dh-spacer-row {
	height:			10px;
}

#dhContentColumn .dh-form-table .dh-image {
	float: 			left;
}

#dhContentColumn .dh-form-table .dh-next-to-image {
	float:			right;
	width:			288px;
	vertical-align: top;
}

#dhContentColumn .dh-form-table #dhPictureEntry {
	width:			288px;
}

/* Position this so the stock photo popup is relative to it */
#dhChooseStockLinkContainer {
	position:		relative;
}

div.dh-notification {
	padding:		4px;
	width:			468px;
}

#dhContentColumn .dh-zone-box .dh-message {
	padding:		5px;
	margin-bottom:	5px;
}
