@CHARSET "UTF-8";
@IMPORT url("header-positions.css");

#dhPageHeader3 {
}

#dhPageHeaderLeftControls {
	background: url("/images3/header_middle.png") top left repeat-x;
}

#dhPageHeaderInner {
	background: url("/images3/header_middle.png") top left repeat-x;
}

#dhPageHeaderLeft {
}

#dhPageHeaderRight {

}

#dhSearchBox {
	font-size:			14px;
	color:				white;
	font-weight:		bold;
}

#dhSearchBoxEntry { 
	border:				0px;
	padding:			0px;
	font-weight:		bold;
	color:				black;
}

#dhSearchBox .dh-text-input-showing-default { 
	font-weight:		normal;
	color:				#aaaaaa;
}

#dhPageHeaderWelcome {
	font-size:			14px;
	font-weight:		bold;
	color:				white;
}

#dhHeaderOptions3, #dhHeaderLinks, #dhPageHeaderWelcomeOptions {
	font-size:			12px;
	font-weight:		bold;
	color:				white;
}

#dhPageHeaderLeftControls a:link, #dhPageHeaderLeftControls a:visited, #dhHeaderOptions3 a:link, #dhHeaderOptions3 a:visited, #dhHeaderLinks a:link, #dhHeaderLinks a:visited {
	color:				white;
}
